$background-gradient: rgba(0, 0, 0, 0.7);

$theme-color: #E50914;
$theme-font: "Inter", sans-serif;
$theme-font-heading: "Inter", sans-serif;
$theme-grey:  rgba(128, 128, 128, 0.466);

$showcase-gradient: radial-gradient(140.76% 131.96% at 100% 100%, rgb(176, 56, 220) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);