* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font: inherit;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
  background-color: #c30811 !important;
}

.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../images/home-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.header .nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header .main-nav {
  padding: 2rem;
  margin: auto;
  max-width: 1120px;
}
.header .main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .main-nav ul li > a {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.header .main-nav ul li > a:hover {
  color: #E50914;
}
.header .main-nav ul img {
  max-width: 148px;
}
.header .main-nav ul button {
  background: #E50914;
  color: white;
  font: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 0.5rem 1.2rem;
  border-radius: 0.4rem;
}
.header .home {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-content: center;
}
.header .home .home-container {
  text-align: center;
  margin-top: 4.5rem;
}
.header .home .home-container * {
  margin: auto;
}
.header .home .home-container h1 {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.4;
  max-width: 700px;
}
.header .home .home-container p {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.5rem;
}
.header .home .home-container p.home-caption {
  font-weight: bold;
  margin: 0.7rem auto 3.5rem;
  font-size: 1.4rem;
}
.header .home .home-container .form {
  display: flex;
  width: 500px;
  font-family: "Inter", sans-serif;
  gap: 1.5rem;
}
.header .home .home-container .form .email {
  flex-grow: 1.5;
}
.header .home .home-container .form #email {
  padding: 1.2rem 1rem;
  border-radius: 5px;
  width: 100%;
  background: transparent;
  border: 2px solid white;
}
.header .home .home-container .form #email:-moz-placeholder-shown {
  color: white !important;
}
.header .home .home-container .form #email:placeholder-shown {
  color: white !important;
}
.header .home .home-container .form button {
  background: #E50914;
  color: white;
  font: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 1.2rem 1.2rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
}