@import "./partials";
@import "./placeholder";

.header{

    width: 100vw;
    height: 100vh;
    // overflow: hidden;
    position: relative;

    background: url("../images/home-bg.jpg") no-repeat center center fixed;
        
    background-size: cover;
    color: white;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        background: $background-gradient;
    }

    .nav-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 2;
    }

    .main-nav {
        padding: 2rem;
        margin: auto;
        max-width: 1120px;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            li > a{
                font-family: $theme-font;
                font-weight: bold;
                text-transform: capitalize;

                &:hover{
                    // text-decoration: underline;
                    color: $theme-color;
                }
            }
    
            img{
                max-width: 148px;
            }
    
            button{
                background: $theme-color;
                color: white;
                font: 1.5rem;
                font-family: $theme-font;
                padding: .5rem 1.2rem;
    
                border-radius: .4rem;
            }
        }
    }

    .home{
        width: 100%;
        height: 100%;
        position: relative;
        

        display: grid;
        place-content: center;

        .home-container{

            text-align: center;
            margin-top: 4.5rem;

            *{margin: auto;}

            h1{
                font-size: 3rem;
                font-family: $theme-font-heading;
                font-weight: 900;
                line-height: 1.4;
                max-width: 700px;
            }

            p{
                font-size: 1rem;
                font-family: $theme-font;
                margin-bottom: 1.5rem;
                // max-width: 700px;

                &.home-caption{
                    font-weight: bold;
                    margin: .7rem auto 3.5rem;
                    font-size: 1.4rem;
                }
            }

            .form{
                display: flex;
                // justify-content: space-between;
                width: 500px;
                font-family: $theme-font;
                gap: 1.5rem;

                .email{
                    flex-grow: 1.5;
                }

                #email{
                    padding: 1.2rem 1rem;
                    border-radius: 5px;
                    width: 100%;

                    background: transparent;
                    border: 2px solid white;

                    &:placeholder-shown{
                        color: white !important;
                    }
                }

                button{
                    background: $theme-color;
                    color: white;
                    font: 1.5rem;
                    font-family: $theme-font;
                    padding: 1.2rem 1.2rem;
        
                    border-radius: .4rem;

                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}